<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小薇学院--任务五：</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div class="navbar">
    <header>这里以后是一个侧栏，这是侧栏的标题</header>
    <form id="info">
        <div class="item">
            <label for="email">请输入邮箱地址&nbsp;&nbsp;</label>
            <input type="text" name="email" id="email" value="这是一个文本输入框"/>
            <p>邮箱地址请按要求格式输入</p>
        </div>
        <div class="item">
            <label for="pwd">请输入密码&nbsp;&nbsp;</label>
            <input type="password" id="pwd" name="password" />
        </div>
        <div class="item">
            <label for="rewritepwd">请重复输入密码&nbsp;&nbsp;</label>
            <input type="password" id="rewritepwd" name="password" />
            <p>密码请为6-16位英文数字</p>
        </div>
        <div class="item">
            <label>性别&nbsp;&nbsp;</label>
            <input type="radio" id="man" name="sex" value="man" checked="checked"/>
            <label for="man" class="optionItem">男</label>
            <input id="woman" type="radio" name="sex" value="woman"/>
            <label for="woman" class="optionItem">女</label>
        </div>
        <div class="item">
            <label>城市</label>
            <select>
                <option value="Beijing" selected="selected">北京</option>
                <option value="Shanghai">上海</option>
                <option value="Hkong">香港</option>
            </select>
        </div>
        <div class="item">
            <label>爱好</label>
            <input type="checkbox" id="sport" name="sport" value="sport"/>
            <label for="sport" class="optionItem">运动</label>
            <input id="art" type="checkbox" name="art" value="art"/>
            <label for="art" class="optionItem">艺术</label>
            <input id="science" type="checkbox" name="science" value="science"/>
            <label for="science" class="optionItem">科学</label>
        </div>
        <div class="item">
            <label for="describe" style="height: 34px;vertical-align: top">个人描述</label>
            <textarea id="describe" name="describe" cols="25"></textarea>
        </div>
        <div class="item">
            <input type="submit" class="submit" name="submit" value="确认提交"/>
        </div>
    </form>
</div>
<div id="content">
    <article class="paper">
        <h1>文章一级标题</h1>
        <h3>文章二级标题</h3>
        <p>文章作者&nbsp;&nbsp;文章发表时间</p>
        <section>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了</section>
        <section>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<strong>这里有个粗体字</strong>这是一个很长很长的段落，<a href="http://ife.baidu.com" target="_blank">这里有一个链接点击后打开新窗口链接到</a>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落。</section>
        <img src="../../../img/one.jpg" />
        <section>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了</section>
        <section>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<strong>这里有个粗体字</strong>这是一个很长很长的段落，<a href="http://ife.baidu.com" target="_blank">这里有一个链接点击后打开新窗口链接到</a>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落。</section>
    </article>
    <article class="paper">
        <h1>文章一级标题</h1>
        <h3>文章二级标题</h3>
        <p>文章作者&nbsp;&nbsp;文章发表时间</p>
        <section>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了</section>
        <section>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，<strong>这里有个粗体字</strong>这是一个很长很长的段落，<a href="http://ife.baidu.com" target="_blank">这里有一个链接点击后打开新窗口链接到</a>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落。</section>
        <img src="../../../img/one.jpg" />
        <ul>
            <li>列表项目一</li>
            <li>列表项目二</li>
            <li>列表项目三</li>
        </ul>
    </article>
    <article class="paper">
        <h2>图片</h2>
        <div class="pictures">
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
        </div>
        <div class="pictures">
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
            <div class="graph">
                <p>好看的图片</p>
                <img src="../../../img/one.jpg"/>
            </div>
        </div>
    </article>
    <article class="paper">
        <h1>文章一级标题</h1>
        <h3>文章二级标题</h3>
        <p>文章作者&nbsp;&nbsp;文章发表时间</p>
        <ol>
            <li>排名1</li>
            <li>排名2</li>
            <li>排名3</li>
        </ol>
        <p>下面是一个表格</p>
        <table>
            <tr>
                <th>表头</th>
                <th>表头</th>
                <th>表头</th>
            </tr>
            <tr>
                <td>单元格内容</td>
                <td>单元格内容</td>
                <td><a href="http://www.baidu.com">操作</a></td>
            </tr>
            <tr>
                <td>单元格内容</td>
                <td>单元格内容</td>
                <td><a href="http://www.baidu.com">操作</a></td>
            </tr>
            <tr>
                <td>单元格内容</td>
                <td>单元格内容</td>
                <td><a href="http://www.baidu.com">操作</a></td>
            </tr>
            <tr>
                <td>单元格内容</td>
                <td>单元格内容</td>
                <td><a href="http://www.baidu.com">操作</a></td>
            </tr>
            <tr style="background-color: #eeeeee">
                <td>总计</td>
                <td colspan="2">10000</td>
            </tr>
        </table>
    </article>

</div>

</body>
</html>